@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #F7F7F7;
  --background-start-rgb: #F7F7F7;
  --background-end-rgb: #F7F7F7;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO: definir cores no dark mode depois */
    /* --foreground-rgb: #070707; */
    --foreground-rgb: #F7F7F7;
    --background-start-rgb: #F7F7F7;
    --background-end-rgb: #F7F7F7;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
