<footer class="footer py-3 mt-auto">
	<div class="container d-flex flex-column align-items-center">
		<span>Made with 🖤 by
			<a href="http://github.com/ryrden">Ryrden</a>
			and
			<a href="http://github.com/lettymoon">Lettymoon</a>
		</span>
		<span class="text-muted">&copy; Top Tracks 2023</span>
	</div>
</footer>