<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="d-flex flex-column align-items-center abacate" onload="autoClick();">
	<h1 class="header text-center">Spotify Application</h1>
	<div class="container justify-content-center" id="htmltoimage">
		<%let arr=0%>
		<% for(let i = 0; i < 5; i++) { %>
		<div class="row">
			<% for(let j = 0; j < 5; j++) { %>
			<div class="col arroz">
				<img src="<%= data[arr].cover %>" crossorigin="anonymous" alt=""
						width="100%">
				<p class="tofu"><%= data[arr].name %> - <%= data[arr].artists%></p>
				<%arr = arr + 1%>
			</div>
			<% } %>
		</div>
		<% } %>
	</div>
	<button class="btn btn-secondary my-3" id="download" onclick="downloadImage()">Download
		Image</button>
</div>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script type="text/javascript">
	function autoClick() {
		document.getElementById("download").click();
	}
	function downloadImage() {

		window.scrollTo(0, 0);
		var container = document.getElementById("htmltoimage");; /* full page */
		html2canvas(container, {
			background: "black",
			allowTaint: true,
			useCORS: true,
		}).then(function (canvas) {
			var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
			simulateDownloadImageClick(image, "image.png");
		});
	}

	function simulateDownloadImageClick(uri, filename) {
		var link = document.createElement('a');
		if (typeof link.download !== 'string') {
			window.open(uri);
		} else {
			link.href = uri;
			link.download = filename;
			accountForFirefox(clickLink, link);
		}
	}

	function clickLink(link) {
		link.click();
	}

	function accountForFirefox(click) { // wrapper function
		let link = arguments[1];
		document.body.appendChild(link);
		click(link);
		document.body.removeChild(link);
	}
</script>