<% layout("layouts/boilerplate") %>
<div class="container d-flex flex-column justify-content-center align-items-center my-5">
    <div class="mb-4 text-center">
      <h1>Spotify Top Tracks</h1>
      <h5>Image Grid Generator</h5>
    </div>
    <a href="/login" class="btn btn-primary btn-lg spotify">Log in with Spotify</a>
</div>