<% layout("layouts/boilerplate") %>
<div class="container d-flex flex-column justify-content-center align-items-center my-5">
    <div class="mb-4 text-center">
      <p class="fs-1 fw-bold m-0">Spotify Top Tracks</p>
      <p class="fs-5">Image Grid Generator</p>
    </div>
    <a href="/login" class="btn btn-primary btn-lg spotify">Log in with Spotify</a>
</div>