.arroz {
    padding: 0;
    position: relative;
}

.arroz img {
    width: 100%;
}

.tofu {
    margin: 0;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(78, 74, 74, 0.699);
    width: 100%;
    text-align: center;
    font-size: 0.6em;
}

.abacate {
    width: 35em;
    margin: 0 auto;
}

/* Modeling to fit in smart phone screens */
@media screen and (max-width: 480px) {
    .abacate {
        width: 100%;
        padding: 0 15px;
    }
    .tofu {
        font-size: 0.5em;
    }
}